.input-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
    box-sizing: border-box;
    width: 100%;

}




input{
    height: 36px;
    border: 1px solid #E0E0E0;
    outline: none;
    border-radius: 4px;
    padding: 0 12px;
    box-sizing: border-box;
}



input:focus{
    border-color: #50B83C;
}

.input-radio{
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.input-error{
    border-color: #ff0000 !important;
}

.error-info{
    color: #ff0000 !important;
}


.input-success{
    border-color: #50B83C !important;
}





.input__label {
    margin-bottom: 8px;
    font-weight: 700;
}

/* .input--error,
.field--error {
    border-color: #ff0000 !important;
}


.input--error+.error-text,
.field--error+.error-text {
    display: block;
    margin-top: 6px;
    color: #ff0000;
    font-size: 11px;
    width: 100%;
    word-wrap: break-word;
} */

