.table{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #fff;
    overflow: auto;


}

.table-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 16px 0 16px;
}

.table-container{
    margin-top: 12px;
    background-color: #fff;
    flex: 1;
    overflow: auto;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    flex: 1;

}

thead th{
    background-color: #e6e8ea;
    border-right: 1px solid #E0E1E4;
}

tr {
    border-bottom: 1px solid #E0E1E4;
    height: 40px;
}

td,
th {
    border-right: 1px solid #E0E1E4;
    padding: 0 16px;
}

th {
    position: sticky;
    top: 0;
    background-color: #fff;
}
tr{
}

.table-paging{
    height: 56px;
  
}